<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Pwned IP Lookup</title>
</head>
<body>

<div class="container mt-5">
    <!-- Logo at the top -->
    <div class="row mb-4">
        <div class="col text-center">
            <img src="{{ url_for('static', filename='digiss.jpg') }}" alt="Company Logo" style="width: 200px;">
        </div>
    </div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h7>Check if your home router is publicly exposed</h7>
                </div>
                <div class="card-body">
                    <form action="/" method="post">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="ip_address" required placeholder="Enter IP Address">
                        </div>
                        <div class="mb-3">
                            <input type="submit" class="btn btn-primary" value="Exposed?">
                        </div>
                    </form>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-info" role="alert">
                            {{ messages[0]|replace("\n", "<br>")|safe }}
                        </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional: Add JavaScript to enhance functionality -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-E1Ao6t8j9ZL+30P2PGyxanl5h7/v4lN4a2LHC4yG1Lk4Ck4C2DgHfViXydVeLm+J" crossorigin="anonymous"></script>
</body>
</html>

